.DraftEditor-root {
  padding: 0 15px 15px 15px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

// .demo-editor {
//     width: 700px;
// }

.rdw-link-modal {
  left: -100px;
}

.rdw-embedded-modal {
  left: -230px;
}

.rdw-emoji-modal {
  left: -230px;
}
